.radar {
    background: black;
    width: 60%;
    padding-top: 60%;
    margin-bottom: 20px;
    right: 1px;
    position: relative;
    z-index: 1500;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px #515151;
}

.radar:hover {

}

.radar .pointer {

    position: absolute;
    left: 10.5820106%;
    right: 10.5820106%;
    top: 10.5820106%;
    bottom: 50%;
    will-change: transform;
    transform-origin: 50% 100%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-image: linear-gradient(135deg,
    rgba(5, 162, 185, 0.8) 0%,
    rgba(0, 0, 0, 0.02) 70%,
    rgba(0, 0, 0, 0) 100%
    );
    clip-path: polygon(100% 0,
    100% 10%,
    50% 100%, 0 100%, 0 0);

    animation: rotate360 4s infinite linear;
}

.radar .pointer:after {
    content: "";
    position: absolute;
    width: 70%;
    bottom: -1px;
    border-top: 2px solid rgba(0, 231, 244, 0.8);
    box-shadow: 0 0 3px rgba(0, 231, 244, 0.6);
    border-radius: 9px;
}


@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
