/*
Stylesheet for the setup page
*/

.setup-game {
    transition: all .5s ease-out;
}

.setup-game {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.setup-game.hide {
    opacity: 0;
    visibility: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
}

.setup-game .setup-btn {
    padding: 1rem 2rem;
    margin-top: 50px;
}

.setup-game .game-start-btn {
    padding: 1rem 2rem;
    margin-top: 50px;
}

/* the main game tag */
.main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}