.MuskTeslaStation{
    background-image: url("../resources/images/muskteslastation.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.StationTRM {
    background-image: url("../resources/images/stationtrm.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.StationTR {
    background-image: url("../resources/images/stationtr.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.StationTM {
    background-image: url("../resources/images/stationtm.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.StationT {
    background-image: url("../resources/images/stationt.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.Asteroid {
    background-image: url("../resources/images/asteroid.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.Planet {
    background-image: url("../resources/images/ryzen.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.old-spice {
    background-image: url("../resources/images/oldspice.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}
.out-of-bounds{
    background-color: #ff99ff;
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}