/*document root styles*/
html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

/*container for top half of page*/
.main-container {
    display: inherit;
    width: 100%;
    height: 100%;
    background: url(../resources/images/outerspace.jpg);
    background-size: cover;
}

/*class to target top side panels*/
.data-panel {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #b9b9b952;
    opacity: 90%;
    width: 30%;
    height: 100%;
}

/*gazetteer section styles*/
#gazetteer {
    height: 100%;
}

.display-4 {
    font-family: "Changa One", cursive;
    font-weight: normal;
    font-size: 4rem;  
}

.data-panel .gazetteer-list-wrapper {
    overflow: auto;
    margin: 10px 5px;
    height: 100%;
}

/*gazetteer title*/
.data-title {
    margin: 20px 0 15px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.data-panel .gazetteer-list-wrapper::-webkit-scrollbar {
    width: 5px;
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-track {
    background: #fff;
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-thumb {
    background: #007bff;;
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gazetteer-list-wrapper .gazetteer-obj-coordinate {
    margin-left: 10px;
}

/*container class for data log*/
.data-log-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
    height: 100%;
}

/*a fun icon (niu)*/
#star-fleet-icon {
    align-self: center;
    height: 50px;
    width: 50px;
}

/*id for ul containing data logs (niu)*/
#data-log {
    padding-top: 10%;
    text-align: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*individual data log of past coordinates*/
.log {
    padding: 1rem 0;
    font-size: .9rem;
}

/* the scroll window with the list of saved games
#playerNameBlock{
    background: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 100px;

}
*/

#savedGameListTitle{
   margin-bottom: -8px;
}

#savedGameList{
    width: 200px;
}

#game-name{
    width: 100%;
}

#heading-container {
    position: absolute;
    top: -25px;
}

#heading {
    font-size: 1rem;
    background-color: #ababab73;
    border-radius: 5px;
}

/*class to target heading spans*/
.heading-span {
    display: inline-block;
}

/*container class for current heading*/
.heading-container {
    display: inherit;
    justify-content: center;
}

/*center screen container*/
#main-screen-container {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*id to target ship name h2*/
#ship-name {
    font-family: "Changa One", cursive;
    font-weight: bolder;
    font-size: 3.5rem;
    color: whitesmoke;
}

/*container for map*/
#map-container {
    height: 50%;
    width: 95%;
   overflow: hidden;
}

/*id for map grid container*/
#grid-container {
    display: grid;
    grid-gap: 1px;
    height: 100%;
    width: 100%;
    background: transparent;
    background-size: cover;
}

/*class for individual map grid tiles*/
.grid-block {
    display: flex;
    z-index: 500;
    background: black;
    border: 5px black;
}

#message-board {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*id for targeting message board*/
#message-board-container {
    width: 92%;
    height: 35%;
    background-color: #b9b9b952;
}

/*id for message board ul*/
#message-list {
    height: 90%;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    margin: 0;
}

/*class for message board li elements*/
.message {
    padding: .5rem .5rem;
    margin: .2rem 0;
    background-color: white;
    width: 100%;
    text-align: start;
}

/*container class for data log*/
.data-log-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
}

/*class to target heading spans*/
.heading-span {
    display: inline-block;
}

/*container class for current heading*/
.heading-container {
    display: inherit;
    justify-content: center;
}

/*class for map, control panel, and status box containers*/
.status-control-containers {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 38%;
    border-radius: 0;
    /*background: lightblue; */
    overflow: hidden;
}

/*the game saving button */
.data-title .btn-game-save {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

.data-title .btn-game-save:not(:disabled):not(.disabled):active {
    color: #000;
}

/*control container specific*/
#controls {
    /*background: lightblue; */
    align-items: center;
}

/*to target input fields container*/
.control-fields {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

/*id to target movement form inputs*/
#movement-form-fields {
    width: 100%;
}

/*id to target div container for east/west input buttons*/
#east-west-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: .5rem 0;
}

/*id for ship movement number input*/
#movement-magnitude {
    width: 35%;
}

/*id for sensor container, holds grid-container*/
#sensor-container {
    justify-content: center;
    align-items: center;
}

/*id to target scan input button*/
#sensor-scan {
    width: 40%;
}

/*id for container holding ship status ul*/
#status-container {
    /*background-color: lightblue; */
    color: #fff;
}

/*id for ul displaying ship status*/
#status-list {
    height: 100%;
    width: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 2rem;
    font-size: 1rem;
}
