/*document root styles*/
html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

/*container for top half of page*/
.top-container {
    display: inherit;
    width: 100%;
    height: 100%;
}

/*id to target ship name h2*/
#ship-name {
    font-family: "Bad Script" , cursive;;
    font-weight: bolder;
    font-size: 1rem;
}

/*container class for main screen (middle top page) content*/
.main-screen-container {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    width: 65%;
    height: 100%;
}

/*id to target main-screen img*/
#main-screen {
    width: 50%;
    height: 50%;
    border-radius: 20%;
    margin: 1rem;
    overflow: hidden;
}

/*id for targeting message board*/
#message-board {
    width: 80%;
    height: 35%;
    background-color: darkturquoise;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

/*id for message board ul*/
#message-list {
}

/*class for message board li elements*/
.message {
    padding: .5rem .5rem;
    margin: .2rem 0;
    background-color: white;
    width: 100%;
    text-align: start;
}

/*class to target top side panels*/
.data-panel {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    opacity: 90%;
    width: 30%;
    height: 100%;
}

.data-panel .gazetteer-list-wrapper {
    overflow: auto;
    margin: 10px 5px;
}

.data-panel .gazetteer-list-wrapper::-webkit-scrollbar {
    width: 5px;
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-track {
    background: #fff; 
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-thumb {
    background: #007bff;; 
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.gazetteer-list-wrapper .gazetteer-obj-coordinate {
    margin-left: 10px;
}

/* title for a specific part of game */
.data-title {
    margin: 20px 0 15px 0;
}

/*container class for data log*/
.data-log-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
}

#star-fleet-icon {
    align-self: center;
    height: 50px;
    width: 50px;
}

/*id for ul containing data logs*/
#data-log {
    padding-top: 10%;
    text-align: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*individual data log of past coordinates*/
.log {
    padding: 1rem 0;
    font-size: .9rem;
}

/* the scroll window with the list of saved games
#playerNameBlock{
    background: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 100px;

}
*/

#savedGameListTitle{
   margin-bottom: -8px;
}

#savedGameList{
    width: 200px;
}

#game-name{
    width: 100%;
}


/*class to target heading spans*/
.heading-span {
    display: inline-block;
}

/*container class for current heading*/
.heading-container {
    display: inherit;
    justify-content: center;
}

/*container for bottom half of page*/
.bottom-container {
    display: inherit;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: grey;
    width: 100%;
    height: 70%;
}

/*class for map, control panel, and status box containers*/
.status-map-control-containers {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 25%;
    height: 100%;
    border-radius: 20%;
    background: darkturquoise;
    overflow: hidden;
}

/*id for sensor container, holds grid-container*/
#sensor-container {
    justify-content: center;
    align-items: center;
}

/*id for map grid container*/
#grid-container {
    display: grid;
    background: lightgray;
    grid-gap: 1px;
    height: 100%;
    width: 100%;
}

/*class for individual map grid tiles*/
.grid-block {
    display: flex;
    z-index: 500;
    background: black;
    border: 5px black;
}

/*id for container holding ship status ul*/
#status-container {
    background-color: darkturquoise;
}

/*id for ul displaying ship status*/
#status-list {
    height: 100%;
    width: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 2rem;
}

/*control container specific*/
#controls {
    background: lightblue;
    align-items: center;
}

/*to target input fields container*/
.control-fields {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

/*id to target movement form inputs*/
#movement-form-fields {
    width: 100%;
}

/*id to target div container for east/west input buttons*/
#east-west-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: .5rem 2rem;
}

/*id to target scan input button*/
#sensor-scan {
    width: 40%;
}

/*the game saving button */
.data-title .btn-game-save {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}
.data-title .btn-game-save:not(:disabled):not(.disabled):active {
    color: #000;
}


