/*document root styles*/
html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

/*container for top half of page*/
.top-container {
    display: inherit;
    width: 100%;
    height: 100%;
}

/*id to target ship name h2*/
#ship-name {
    font-family: "Bad Script" , cursive;;
    font-weight: bolder;
    font-size: 1.5rem;
}

/*id to target main-screen img*/
#main-screen {
    width: 65%;
    height: 65%;
    border-radius: 20%;
    margin: 1rem;
    overflow: hidden;
}

/*id for targeting message board*/
#message-board {
    width: 70%;
    background-color: whitesmoke;
    text-align: center;
}

.heading-text {
    width: 80%;
    justify-content: flex-start;
}

/*class to target top side panels*/
.data-panel {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    opacity: 90%;
    width: 30%;
    height: 100%;
}

.data-panel .gazetteer-list-wrapper {
    overflow: auto;
    margin: 10px 5px;
}

.data-panel .gazetteer-list-wrapper::-webkit-scrollbar {
    width: 5px;
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-track {
    background: #fff; 
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-thumb {
    background: #007bff;; 
}
.data-panel .gazetteer-list-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.gazetteer-list-wrapper .gazetteer-obj-coordinate {
    margin-left: 10px;
}

/* title for a specific part of game */
.data-title {
    margin: 20px 0 15px 0;
}

/*container class for data log*/
.data-log-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
}

#star-fleet-icon {
    align-self: center;
    height: 50px;
    width: 50px;
}

/*id for ul containing data logs*/
#data-log {
    padding-top: 10%;
    text-align: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*individual data log of past coordinates*/
.log {
    padding: 1rem 0;
    font-size: .9rem;
}

/*class to target heading spans*/
.heading-span {
    display: inline-block;
    margin: 1rem 0;
}

/*container class for current heading*/
.heading-container {
    padding-left: 2rem;
}

/*container class for main screen (middle top page) content*/
.main-screen-container {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    width: 65%;
    height: 100%;
}


/*container for bottom half of page*/
.bottom-container {
    display: inherit;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: grey;
    width: 100%;
    height: 70%;
}


/*class for map, control panel, and status box containers*/
.status-map-control-containers {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 25%;
    height: 100%;
    border-radius: 20%;
    background: darkturquoise;
    overflow: hidden;
}

/*id for sensor container, holds grid-container*/
#sensor-container {
    justify-content: center;
    align-items: center;
}

/*id for map grid container*/
#grid-container {
    display: grid;
    background: lightgray;
    grid-gap: 1px;
    height: 100%;
    width: 100%;
}

/*class for individual map grid tiles*/
.grid-block {
    display: flex;
    z-index: 500;
    background: black;
    border: 5px black;
}

/*id for container holding ship status ul*/
#status-container {
    background-color: darkturquoise;
}

/*id for ul displaying ship status*/
#status-list {
    height: 100%;
    width: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 2rem;
}

/*control container specific*/
#controls {
    background: lightblue;
}

/*to target input fields container*/
.control-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

/*class to target input labels*/
.input-label {
    display: inline-block;
    margin: .5rem;
}

/*id for heading submit button*/
#heading-submit {
    margin-top: 1rem;
    width: 50%;
}

/*id for direction selector input*/
#direction-input {
    display: inline-block;
    border-radius: 50%;
}

/*id for magnitude number input*/
#magnitude-input {
    display: inline-block;
}
